@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: JetBrainsMono-Thin;
  src: url("/fonts/EuclidCircularA-Light.woff2") format("woff2");
}
@font-face {
  font-family: EuclidCircularA;
  src: url("/fonts/EuclidCircularA-Light.woff2") format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: EuclidCircularA;
  src: url("/fonts/EuclidCircularA-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: EuclidCircularA;
  src: url("/fonts/EuclidCircularA-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: EuclidCircularA;
  src: url("/fonts/EuclidCircularA-Bold.woff2") format("woff2");
  font-weight: 700;
}

html {
  font-family: EuclidCircularA;
  overflow-x: hidden;
  background-color: #000;
  width: 100vw;
}
